@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:wght@400;700&family=Rye&display=swap');




:root
{
    --primary-color: #58F3D1;
    --secondary-color: #212121;
    --secondary-white: #f8fafc;
}

body {
    font-family: 'Creepster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rye', cursive;
    margin: 0px;
    background-color: var(--primary-color);
    place-content: center;
}

h1
{
 text-align: center;
 padding: 1rem;
 margin-bottom: 2rem;
 font-size: 2rem;
 margin: auto;
}


textarea
{
    border: 2px solid;
    display: block;
    height: 10vh;
    width: 80%;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 10px;
}

button
{
    display: block;
    margin: 1rem auto;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    background-color: var(--secondary-white);
    border: 2px solid var(--secondary-color);
}

.tag
{
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    max-width: 600px;
}
#output
{
    display: block;
    height: 10vh;
    width: 80%;
    padding: 1rem 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: var(--secondary-white);
    border: 2px solid var(--secondary-color);

}

footer
{ 
    text-align: center;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer div
{
    padding: 1rem;
    padding-bottom:0.5rem ;
    font-size: x-large;
    font-weight: bold;
}

footer p
{
    font-size: medium;
    padding: 0.5rem;
    max-width: 500px;
    margin: auto;
}